<div id="{{ sectionId }}" [hidden]="hideCountriesList">
  <p>{{ headerTitle }}</p>
  <ul>
    <li *ngFor="let country of countriesList">
      {{ country.country }} - {{ country.continent }}
    </li>
  </ul>
</div>

<p [ngClass]="countryInfo">There are seven continents in the world!</p>
<p [style.color]="'Orange'">India is an Asian country</p>
<p [style.color]="flagColorOfUSA">USA is an North American country</p>
<p [ngStyle]="colors">UK is in Europe</p>

<button (click)="ShowOrHideCountriesTable($event)">
  Show/Hide Countries Table
</button>

<div [hidden]="!hideCountriesTable">
  <table [ngClass]="{ changeTableBorder: showTableBorder }">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Country</th>
        <th>Continent</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let country of countriesList; let i = index"
        [ngStyle]="{
          backgroundColor: country.country === 'India' ? 'pink' : 'grey'
        }"
      >
        <td>{{ i + 1 }}</td>
        <td>{{ country.country }}</td>
        <td>{{ country.continent }}</td>
      </tr>
    </tbody>
  </table>
</div>
